page-sign-up {
    .image-logo{
        width: 80%;
        margin-top: 2%;
        margin-left: 10%;
        background-color: #468294;
    }
    .bg-main{
        background-color: #468294;
    }

    .title-chat {
        ion-col {
            text-align: left;
        }
    }

    .profile-div {
        width: 20em;
        height: 7em;
        // border-radius: 50%;
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
        background-position-y: 0;
        margin: 0 auto;
        margin-top: 0em;
    }

    #cloud-layer {
        background-image: url(../assets/images/cloud-layer.png);
        background-size: cover;
        width: 100%;
        height: 100%;
        margin-right: 100% !important;
      }
}